/**
 * @name         Quiet
 * @description  Dark and Quiet. Easy on the eyes.
 * @author       Izy
 * @version      2.0
 * @source       https://github.com/squee666/Discord-Themes/blob/master/Themes/Quiet.theme.css
 * @invite       TeRQEPb
 * @authorId     107511169366888448
 */

/* IMPORT CSS FROM GITHUB */
@import url("https://cdn.statically.io/gh/squee666/Discord-Themes/master/css/Quiet.css");
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
---------------------------------------------------------------------------------------------------------------------------------------------
===== CUSTOMIZABLE COLORS =====
*/
:root { 
--mc: rgb(106, 0, 255) !important;                                   /*Main Colour*/     
--hc: rgb(100, 0, 190) !important;                                   /*Hover Colour*/       
--BG: url("https://i.imgur.com/d3lnerI.jpg") !important;    /*Wallpaper*/  
--RB: rgba(0, 0, 0, 0.7) !important;                          /*Reborn Transparency Higher is Darker*/   
--br: 50px !important;                                       /*RoundNess of Icons*/    
--QT: rgb(40, 40, 40) ;                                             /*Quiet Theme Colour*/    
--QTD: rgb(25, 25, 25);                                             /*Quiet Off Parts Colour*/  
--blur: 0px;                                                /*Set to 1-10px to adjust reborn wallpaper blur*/ 
}
/*
---------------------------------------------------------------------------------------------------------------------------------------------
TROUBLESHOOTING: IF YOU NEED ANY HELP GO TO https://discord.gg/TeRQEPb
---------------------------------------------------------------------------------------------------------------------------------------------
*/ 
